@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Londrina+Sketch&display=swap');

html{
    height: 100vh;
    width: 100vw;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: lavender;
}

#mainContainer{
    background-color: rgb(226, 68, 68);
    width: 1000px;
    height: 680px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 8px 8px lightcoral;
}

#container{
    width:600px;
    height:500px;
    display: grid;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    border:5px solid; 
    border-color: lightcoral;
    border-radius: 5px;
}



.grid:hover{
    background-color: black;
}

#footer{
    display: flex;
    justify-content: space-between;
}

#title{
    font-family: 'Londrina Sketch', cursive;
    font-size: 40px;
}

#text{
    font-family: 'Dancing Script', cursive;
}

.circle1 {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50px;
    background: rgb(221, 211, 205);
    margin-left: 40px;
    margin-top: 20px;
    box-shadow: 4px 4px lightcoral;
}   

.circle2{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50px;
    background: rgb(221, 211, 205);
    margin-right: 40px;
    margin-top: 20px;
    box-shadow: 4px 4px lightcoral;
}


